


.button {
  margin: 30px;  
  padding: 10px;
  height: auto;
  width: 200px;
  border-radius: 10px;
  transition: 0.5s;
  background-color: rgb(209, 203, 181);
  color: black;
  border-right: rgb(61, 61, 61) solid;
  border-width: 2px;
  
}

.button:hover {
  background-color: #828091;
  color: white;
  border-right: rgb(61, 61, 61) solid;
}

.linkStyle {
  text-decoration: none;
}



.buttonText {
  font-size: 20px;
}


